@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 300px;
    margin: auto;
}

.card{
    background-color: hsl(216, 50%, 16%);
    height: 500px;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.377);
    position: relative;
}

.card img{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.container .card div{
    position: absolute;
    top: 0;
    background-color: hsla(178, 100%, 50%, 0.582);
    width: 87%;
    height: 52%;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0;
}

.container .card div:hover{
    opacity: 1;
    cursor: pointer;
}

 .container .card div img{
    display: flex;
    width: 40px;
    margin: auto;
    padding-top: 110px;
} 

.text{
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-top: 15px;
}

.text h2{
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

}

.text h2:hover{
    color: hsl(178, 100%, 50%);
}

.text p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    color: hsl(215, 51%, 70%);
}

.text ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text ul li{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
}

.text ul li img{
    width: 1rem;
    margin-right: 0.3rem;
}

.text ul li:first-child{
    color: hsl(178, 100%, 50%);
}

hr.one{
    border: none;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
    border-radius: 10px;
}

#eth{
    width: 10px;
    font-weight: 600;
}

.card h6{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.card h6 img{
    margin-right: 15px;
    max-width: 30px;
    align-items: center;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 40px;
}

.card a{
    text-decoration: none;
    color: white;
    padding-left: 2px;
}

.card a:hover{
    color: hsl(178, 100%, 50%);
}